# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/


electron-builder.env
build
my-node-modules
my-cache

app/
release-builds/

# build/
definitions/
scripts/*.js
build/*.js
dist/*.js
dist/
*.cer
"Nishkal Kashyap.pfx"
Quark-win32-x64
buildResources/icons
ThirdPartyNotice.txt
index.js
*.build.qrk
release
cloud-storage-key.json

*.p12
*.env

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.build.qrk
*.store.qrk
*.asar.qrk
*.pack.qrk
*.qrk.asar
dev-assets/bills
index.js
.quark/
test/__testResults__
secrets.tar
travis-secrets.tar
azure-secrets.tar
assets-definitions
buildResources/www.tar.gz