/* Hint Dialog having options */

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  /* border-radius: 3px; */
  /* border: 1px solid #1e1e1e; */
  background: white;
  font-size: 100%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
  width: 35em;
}

.CodeMirror-hint {
  margin: 0;
  /* padding: 0 4px; */
  /* border-radius: 2px; */
  white-space: pre;
  color: white;
  cursor: pointer;
  background-color: #333333;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}
